@font-face {
    font-family: 'Harmony';
    src: url('../resource/style/HarmonyOS_Sans_SC.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, 'Harmony', serif !important
}
