<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="../assets/font/font.css"/>
    <link type="text/css" rel="styleSheet" href="./style/github-markdown-light.css"/>
    <title>template</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }

        #template {
            width: 1280px;
            padding: 20px;
            position: relative;
        }

        h2 {
            color: #009688;
        }

        code {
            color: #0d47a1;
        }
    </style>
</head>
<body>
<div id="template">
    <div class="markdown-body" v-html="content"></div>
</div>
</body>
<script src="style/marked.min.js"></script>
<script src="../vue.min.js"></script>
<script>
    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                this.$set(this, 'content', marked.parse(data['doc']))
            }
        },
        data() {
            return {
                content: ''
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
