/.idea/
/.vscode/
/__pycache__/
/package/
/venv/
/dist/
/logs/
/plugins/
/database/
/resource/
/uploads/

.DS_Store

config/cos.yaml
config/remote.yaml
config/penetration.yaml
config/database.yaml
config/prefix.yaml
config/server.yaml
main*.py

*.zsh
*.pyc
*.spec
*.zip
*.whl
*.png
*.ttf
