/.idea/
/venv/
/remind/
/resource/*.txt
/resource/images/face/*.png
/resource/images/face/*.jpg
/resource/blog/images/
/resource/blog/xml/
/resource/message/

.DS_Store

*.pyc
*.otf

session.txt
restart.txt
unitTest.py
start.bat