/.idea/
/__pycache__/
/package/
/venv/
/dist/
/view/
/log/
/plugins/
/database/
/resource/
/uploads/
/* - 副本/

/Amiya-Bot-plugins/
/Amiya-Bot-plugins-server/
/pluginsDev/
/pluginsServer/

.DS_Store

config/database.yaml
config/server.yaml

*.pyc
*.spec
*.zip
*.whl
*.png
*.ttf

v2raya/v2raya-boltv4.db
v2raya/v2raya_config.json
v2raya/monitor.py