amiyabot==2.0.9
jionlp~=1.5.23
pypinyin~=0.54.0
attridict~=0.0.9
cos-python-sdk-v5~=1.9.37
gitpython~=3.1.44
jsonschema~=4.24.0
srsly~=2.5.1
requests-html~=0.10.0
lxml_html_clean~=0.4.2
baidu-aip~=4.16.13
chardet~=5.2.0
jinja2~=3.1.6
opencv-python~=4.11.0.86
tencentcloud-sdk-python~=3.0.1411
