<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="../font.css"/>
    <link type="text/css" rel="styleSheet" href="enemy.css"/>
    <title>template</title>
</head>
<body>
<div id="template">
    <div v-if="Object.keys(data).length">
        <div class="avatar">
            <img :src="'../../resource/gamedata/enemy/' + data.info.enemyId + '.png'" alt="enemy">
            <div class="name">
                <div class="tags">
                    <span style="font-size: 40px">{{ data.info.name }}</span>
                    <span class="tag" :class="data.info.enemyLevel">{{ level[data.info.enemyLevel] }}</span>
                    <span class="tag attackType" v-for="n in data.info.attackType.split(' ')">{{ n }}</span>
                    <span class="tag enemyIndex">{{ data.info.enemyIndex }}</span>
                </div>
                <div class="attr-s">
                    <div>耐久<span>{{ data.info.endure }}</span></div>
                    <div>攻击力<span>{{ data.info.attack }}</span></div>
                    <div>防御力<span>{{ data.info.defence }}</span></div>
                    <div>法术抗性<span>{{ data.info.resistance }}</span></div>
                </div>
            </div>
        </div>
        <div>
            <div style="margin: 10px 0"><i style="font-size: 20px">「{{ data.info.description }}」</i></div>
            <div class="title">能力</div>
            <div v-html="data.info.ability ? ability(data.info.ability) : '无'"></div>
            <div class="title">属性</div>
            <div class="attrs-content">
                <div v-for="(item, level) in data.attrs">
                    <div style="margin-bottom: 5px">等级{{ level }}</div>
                    <div class="attrs">
                        <div class="attr" title="生命值">{{ item.maxHp }}</div>
                        <div class="attr" title="攻击力">{{ item.atk }}</div>
                        <div class="attr" title="防御力">{{ item.def }}</div>
                        <div class="attr" title="魔法抗性">{{ item.magicResistance }}</div>
                        <div class="attr" title="移动速度">{{ item.moveSpeed }}</div>
                        <div class="attr" title="攻击速度">{{ item.baseAttackTime }}</div>
                        <div class="attr" title="每秒回血">{{ item.hpRecoveryPerSec || 0 }}</div>
                        <div class="attr" title="重量等级">{{ item.massLevel }}</div>
                        <div class="attr" title="攻击距离">{{ item.rangeRadius }}</div>
                        <div class="attr" title="进点损失">{{ item.lifePointReduce }}</div>
                        <div class="attr" title="晕眩免疫" :class="{ on: item.stunImmune }">
                            <span>{{ item.stunImmune ? '有' : '无' }}</span>
                        </div>
                        <div class="attr" title="沉默免疫" :class="{ on: item.silenceImmune }">
                            <span>{{ item.silenceImmune ? '有' : '无' }}</span>
                        </div>
                        <div class="attr" title="睡眠免疫" :class="{ on: item.sleepImmune }">
                            <span>{{ item.sleepImmune ? '有' : '无' }}</span>
                        </div>
                        <div class="attr" title="冷冻免疫" :class="{ on: item.frozenImmune }">
                            <span>{{ item.frozenImmune ? '有' : '无' }}</span>
                        </div>
                        <div class="attr" title="浮空免疫" :class="{ on: item.levitateImmune }">
                            <span>{{ item.levitateImmune ? '有' : '无' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../vue.min.js"></script>
<script>
    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                this.$set(this, 'data', data)
            },
            ability(text) {
                return text
                    .replace(/<[/]+>/g, '[end]')
                    .replace(/<[^>]+>/gim, '<span class="mark">')
                    .replace(/\[end]/g, '</span>')
                    .replace(/；/g, '<br/>')
            }
        },
        data() {
            return {
                data: {},
                level: {
                    'NORMAL': '普通',
                    'ELITE': '精英',
                    'BOSS': 'BOSS',
                }
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
