<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="font.css"/>
    <link type="text/css" rel="styleSheet" href="userInfo.css"/>
    <title>template</title>
</head>
<body>
<div id="template">
    <div class="card-content" v-if="Object.keys(data).length">
        <div class="background"></div>
        <div class="base-info">
            <div class="avatar">
                <div class="avatar-image">
                    <img :src="data.avatar" :alt="data.nickname">
                </div>
                <div class="nickname">{{ data.nickname }}</div>
            </div>
            <div class="info">
                <div>今日{{ data.user_info.sign_in ? '已' : '未' }}签到</div>
                <div>累计签到：{{ data.user_info.sign_times }}</div>
                <div>阿米娅的信赖值：{{ (data.user_info.user_feeling / 10).toFixed(0) }}%</div>
                <div>阿米娅的心情值：{{ (data.user_info.user_mood / 15 * 100).toFixed(0) }}%</div>
            </div>
            <div>
                <div>剩余合成玉：{{ data.user_info.jade_point }}</div>
                <div>今日已获取合成玉：{{ data.user_info.jade_point_max }}/30000</div>
                <div class="jade-point">
                    <div class="block"
                         :style="{ width: (data.user_info.jade_point_max / 30000 * 100).toFixed(0) + '%' }">
                    </div>
                </div>
            </div>
        </div>
        <div class="gacha-info">
            <div>干员拥有数：{{ operatorNum }}</div>
            <div>剩余寻访凭证：{{ data.user_gacha_info.coupon }}</div>
            <div>已经抽取了 <span class="mark">{{ data.user_gacha_info.gacha_break_even }}</span> 次而未获得六星干员</div>
            <div>抽卡总次数：{{ total }}</div>
            <div class="pie" ref="pie"></div>
        </div>
        <div class="barcode">
            <canvas ref="barcode"></canvas>
        </div>
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/JsBarcode.all.min.js"></script>
<script>
    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                const box = data.operator_box.operator.split('|').filter(n => n)
                const rate = {}
                const res = []

                let total = 0
                for (let item of box) {
                    let opt = item.split(':')
                    let r = parseInt(opt[1])

                    if (!rate[r]) {
                        rate[r] = 0
                    }
                    rate[r] += parseInt(opt[2])
                    total += parseInt(opt[2])
                }

                const colors = {
                    '3': '#67c23a',
                    '4': '#5470c6',
                    '5': '#fac858',
                    '6': '#ee6665'
                }

                for (let r in rate) {
                    let value = (rate[r] / total * 100).toFixed(2)
                    res.push(
                        {
                            type: 'bar',
                            name: new Array(parseInt(r)).fill('★').join(''),
                            data: [value],
                            itemStyle: {
                                color: colors[r]
                            },
                            label: {
                                show: true,
                                position: 'right',
                                formatter: '{a}\n{c}%',
                                textStyle: {
                                    fontFamily: 'monospace'
                                }
                            }
                        }
                    )
                }

                this.$set(this, 'data', data)
                this.$nextTick(() => {
                    this.setCharts(res)
                    this.total = total
                    this.operatorNum = box.length
                    JsBarcode(this.$refs.barcode, data.user.user_id, {
                        background: 'transparent',
                        lineColor: 'rgba(255, 255, 255, .5)'
                    })
                })
            },
            setCharts(data) {
                const charts = echarts.init(this.$refs.pie)
                const option = {
                    animation: false,
                    textStyle: {
                        fontFamily: 'Harmony'
                    },
                    grid: {
                        top: 10,
                        left: 10,
                        right: 50,
                        bottom: 10,
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        axisLabel: {
                            color: '#000',
                            textBorderColor: '#fff',
                            textBorderWidth: 1,
                            formatter: '{value}%'
                        },
                        splitLine: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.4)'
                            }
                        }
                    },
                    yAxis: {
                        type: 'category',
                        data: ['抽卡概率统计'],
                        axisLabel: {
                            rotate: 90,
                            fontSize: 16,
                            color: '#000',
                            textBorderColor: '#fff',
                            textBorderWidth: 1
                        }
                    },
                    series: data
                }
                charts.setOption(option)
            }
        },
        data() {
            return {
                data: {},
                total: 0,
                operatorNum: 0
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
