<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="../assets/font/font.css"/>
    <link type="text/css" rel="styleSheet" href="stage.css"/>
    <title>template</title>
</head>
<body>
<div id="template">
    <div v-if="Object.keys(data).length">
        <div class="stage-title">{{ data.code }} {{ data.name }}</div>
        <div class="stage-info">
            <div>
                <div class="info-detail">
                    <div>所属：{{ stageType[data.stageType] }}</div>
                    <div>难度：{{ difficulty[data.difficulty] }}</div>
                    <div>推荐等级：{{ data.dangerLevel }}</div>
                    <div>消耗理智：{{ data.apCost }}</div>
                    <div>部署上限：{{ levelOptions.characterLimit }}</div>
                    <div>目标耐久：{{ levelOptions.maxLifePoint }}</div>
                    <div>初始费用：{{ levelOptions.initialCost }}/{{ levelOptions.maxCost }}</div>
                </div>
                <br>
                <div v-html="description(data.description)"></div>
            </div>
            <div class="stage-map">
                <img :src="`../../resource/gamedata/map/${data.stageId.replace(/#f#/g, '')}.png`" :alt="data.stageId"
                     onerror="hideImage(this)">
            </div>
        </div>
        <template v-if="data.levelData.enemiesCount">
            <div class="section-title" style="color: #ff6900">敌方单位列表</div>
            <div class="enemy-info">
                <div class="enemy-item" v-for="(item, enemyId) in enemies">
                    <div class="enemy-avatar"
                         :style="{backgroundImage: `url('../../resource/gamedata/enemy/${enemyId}.png')`}">
                        <span class="tag" :class="item.enemyLevel">{{ level[item.enemyLevel] }}</span>
                    </div>
                    <div style="padding: 10px 5px">
                        <div style="color: #ff6900">{{ item.name }}</div>
                        <div>{{ item.attackType }}</div>
                        <div>数量：{{ item.count }}</div>
                    </div>
                </div>
            </div>
        </template>
        <template v-if="data.stageDropInfo.displayDetailRewards.length">
            <div class="section-title" style="color: #42a5f5">材料掉落详情</div>
            <div class="drop-info" v-for="(name, type) in dropType" v-if="displayDetailRewards(type).length">
                <div>{{ name }}</div>
                <template v-if="type === 't2'">
                    <img class="item-icon" src="../../resource/gamedata/item/EXP_PLAYER.png" alt="exp">
                    <img class="item-icon" src="../../resource/gamedata/item/GOLD.png" alt="exp">
                </template>
                <img class="item-icon" v-for="item in displayDetailRewards(type)" v-if="item.detail"
                     :src="'../../resource/gamedata/item/' + item.detail.iconId + '.png'"
                     :alt="item.detail.name">
            </div>
        </template>
    </div>
</div>
</body>
<script src="../vue.min.js"></script>
<script>
    function hideImage(e) {
        e.style.display = 'none'
    }

    const template = new Vue({
        el: '#template',
        computed: {
            enemies() {
                let enemiesName = []
                let enemies = {}

                for (let key in this.data.levelData.enemiesCount) {
                    enemiesName.push(key)
                }
                enemiesName.sort()

                for (let key of enemiesName) {
                    enemies[key] = this.data.levelData.enemiesCount[key]
                }
                return enemies
            },
            levelOptions() {
                return this.data.levelData.options ? this.data.levelData.options : {}
            }
        },
        methods: {
            init(data) {
                this.$set(this, 'data', data)
            },
            description(text) {
                return text.replace(/<@lv.fs>/g, '').replace(/<@lv.item>/g, '').split('\\n').join('<br>')
            },
            displayDetailRewards(type) {
                return this.data.stageDropInfo.displayDetailRewards.filter(item => {
                    if ('t' + item.dropType === type) {
                        return item
                    }
                })
            }
        },
        data() {
            return {
                data: {},
                dropType: {
                    't8': '首次掉落',
                    't2': '常规掉落',
                    't4': '额外掉落'
                },
                level: {
                    'NORMAL': '普通',
                    'ELITE': '精英',
                    'BOSS': 'BOSS',
                },
                stageType: {
                    'MAIN': '主线',
                    'SUB': '支线',
                    'SPECIAL_STORY': '故事集',
                    'DAILY': '日常',
                    'ACTIVITY': '活动',
                    'CAMPAIGN': '剿灭',
                    'CLIMB_TOWER': '保全派驻'
                },
                difficulty: {
                    'NORMAL': '普通',
                    'FOUR_STAR': '突袭'
                }
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
