* {
    font-size: 18px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#template {
    width: 1280px;
    min-height: 720px;
    padding: 20px;
    color: #fff;
    background: url(img/pc_bg.jpeg) center / cover no-repeat;
    position: relative;
}

.enemyBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.enemyItem {
    width: calc(100% / 3);
    padding-right: 40px;
    margin: 5px 0;
    display: flex;
}

.enemyItem > .avatar {
    width: 80px;
    height: 80px;
    background: center / 100% no-repeat;
}

.enemyItem > .detail {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tags {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tag {
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 2px;
    margin-left: 3px;
}

.tag.NORMAL {
    background: #3cb300;
}

.tag.ELITE {
    background: #6f00b3;
}

.tag.BOSS {
    background: #c30000;
}

.tag.attackType {
    background: #2196f3;
}

.tag.enemyIndex {
    background: #6b6b6b;
}

.desc {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.indexNo {
    font-size: 24px;
    font-weight: bold;
    color: #ff6900;
    padding: 0 5px;
}
