<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="styleSheet" href="font.css"/>
    <link type="text/css" rel="styleSheet" href="enemyIndex.css"/>
    <title>template</title>
</head>
<body>
<div id="template">
    <div v-if="Object.keys(data).length">
        <div style="margin-bottom: 20px">通过【<span style="color: #ff6900">{{ data.search }}</span>】搜索到以下敌人单位：</div>
        <div class="enemyBox">
            <div class="enemyItem" v-for="(item, name) in data.result">
                <div class="avatar" :style="avatar(item)"></div>
                <div class="detail">
                    <div>
                        <span class="indexNo">{{ Object.keys(data.result).indexOf(name) + 1 }}</span>
                        {{ item.info.name }}
                    </div>
                    <div class="tags">
                        <span class="tag" :class="item.info.enemyLevel">{{ level[item.info.enemyLevel] }}</span>
                        <span class="tag attackType" v-for="n in item.info.attackType.split(' ')">{{ n }}</span>
                        <span class="tag enemyIndex">{{ item.info.enemyIndex }}</span>
                    </div>
                    <div class="desc">
                        {{ item.info.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.min.js"></script>
<script>
    const template = new Vue({
        el: '#template',
        methods: {
            init(data) {
                this.$set(this, 'data', data)
            },
            avatar(data) {
                return {
                    backgroundImage: `url('../../../../resource/gamedata/enemy/${data.info.enemyId}.png')`
                }
            }
        },
        data() {
            return {
                data: {},
                level: {
                    'NORMAL': '普通',
                    'ELITE': '精英',
                    'BOSS': 'BOSS',
                }
            }
        },
        mounted() {
            window.init = this.init
        }
    })
</script>
</html>
